

<%= form_tag("/search", method: "get") do %>
<%= label_tag(:user, "GitHub User:") %>
<%= text_field_tag(:user) %>
<%= submit_tag("Search") %>
<% end %>



<%= image_tag @user.avatar_url %>
<br>
<h1><%= @user.name %> | <%= @user.email %><h1>
<h3>List of Github Repos</h3>
<% @user_repos.each do |x| %>
<li><%= x[:name] %></li>
<% end %>
